# Build projects
# Elastic Beanstalk 會以 root 身份進行部署

# 解壓縮檔案資料前執行
commands:
   create_post_dir:
      command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
      ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_run_after_deployment.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "PWD is $PWD" >> ~/deploy_log
      cd /var/app/current
      echo "Go to current folder $PWD" >> ~/deploy_log
      echo $PWD >> ~/deploy_log
      # 建立快取
      php artisan optimize
      cd -
      echo "Go back to the original directory $PWD" >> ~/deploy_log
      # 建立 crontab
      if [ $(crontab -l | grep "artisan" | wc -c) -eq 0 ]; then
         set +e
         echo "set crontab" >> ~/deploy_log
         ( crontab -l ; echo "* * * * * php /var/www/html/artisan schedule:run >> /dev/null 2>&1" ) | crontab -
         set -ex -u -o pipefail
      fi
      echo "Deployment completes on $(date '+%Y-%m-%d %H:%M:%S')" >> ~/deploy_log

# 解壓縮後，在 /var/app/ondeck 中執行
container_commands:
   01_run_migration:
    command: "php artisan migrate --force >> ~/migration_log"
    leader_only: true
